.cardContainer:hover {
  cursor: pointer;
}

.toggleButton {
  cursor: pointer;

  &.inactive:hover {
    background-color: rgb(194, 193, 193);
  }
}

.trashIcon {
  color: #b2b2b2;

  &:hover {
    cursor: pointer;
    color: tomato;
  }
}

.cardHeader {
  &:hover {
    cursor: pointer;
  }
}
